{% extends "base.html" %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %} - TrainWise{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title mb-4">{% trans "Password Reset" %}</h1>
                
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p class="mb-4">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>

                <a href="{% url 'activities:home' %}" class="btn btn-primary">{% trans "Return to Home" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 